<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TDEE simple app</title>
    <!-- <link rel="stylesheet" href="/style.css"> -->
    <!-- Bulma css file in /public folder -->
    <link rel="stylesheet" href="/bulma.css">

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> -->

  </head>
  <body>
    <nav>
      <a href="/">Home</a> |
      <a href="/tdee">TDEE Calc</a> |
      <a href="/about">About</a> |
      <a href="/show_bmi">BMIs</a>
    </nav>

    <%= yield %>
  </body>
</html>
