<div class="column is-half is-offset-one-quarter">
  <section class="section">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-6">
          <p class="title">Your TDEE</p>
          <p class="subtitle">Total Daily Energy Expenditure</p>
          <div class="content">
            <p style="font-size: 25px;"><strong><%= @tdee %> kcal per day</strong></p>
          </div>

        </div>
        <div class="tile is-vertical is-6">
          <p class="subtitle">What you got?</p>
          <p class="content">The result shows your approximate calories (basically, kilocalories)
          expenditure based on Mifflin-St Jeor Formula.<br>
          Use it as a reference point.</p>
        </div>
      </div>
    </div>
  </section>
</div>
